body{
    background-image:url("img/gameimg.jpg");
    background-size: cover;
    margin-left: 206px;
    margin-right:0;
}

img.static{
    position:static;
}
.Mainbanner{
    color:rgb(238, 235, 255);
    font-family: 'Great Vibes', cursive;
}
a{
    color:black;
    text-decoration:none;
}
h1{
    top:0;
    margin-left: 0vw;
    margin-right: 0vmin;
    margin-top: 10vmin;
    margin-bottom: 8vmin;
    background-image:url("img/gameimg1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding:1vmin;
    font-size:5.5vw;
    text-align: center;
    color:rgb(220, 230, 230);
    font-family: 'Nanum Brush Script', cursive;
    text-shadow: 5px 5px #1c4274, 8px 8px #3160b1, 11px 11px #57a2df;
}
h2, h3, p, img{
    margin-left: 35px;
}
p{
    font-size:120%;
}
h4{
    top: 0;
    margin-top:8px;
    margin-bottom:0.5px;
    font-size:30px;
    text-align: center;
}
h6{ 
    font-size:25px;
    text-align:center;
    margin-top:1vw;
    margin-bottom:1vw;
}
.main{
    position: fixed;
    top: 0vw;
    /* width: 100% */
    left:0;
    right: 0;
    padding-bottom: 1vw;
    border-bottom:3px solid  rgb(175, 175, 175);
    background-color: rgb(255, 255, 255);
}
nav{     
    top:15px;
    left: 0;  
    width:200px;
    background-color: rgb(255, 255, 255);
    border:3px solid  rgb(175, 175, 175);
    border-top:none;
    position:fixed; /*공중에 떠서 공간을 차지하지 않음*/
    height:200%;    /*fixed를 해서 높이 100%가 가능해진다*/
}
#example2 {
    padding-left: 0;
}
 
#example2 li {
    list-style: none;
}
ul.li{
    list-style-type: none;
}
html, body{
    font-family: 'Jua', sans-serif;
}
.menu li a{
    text-align:center;
    height:30px;
    line-height:30px;
    display:block;
    padding:0 20px;
    font-size:24px;
    color:rgb(0, 0, 0);
}
.menu li a:hover{background-color:rgb(13, 43, 69); color:rgb(255, 255, 255);}
iframe, img{
    margin-right:40px;
}